@use "variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html {
    scroll-behavior:smooth;
  }

body {
    font-family: "Montserrat";
    text-align: center;
    scroll-behavior: smooth;
    background-image: linear-gradient(
    135deg,
    v.$primary-colour 0%,
    v.$secondary-colour 100%
  );
    color: v.$text-colour;
    overflow-x: hidden; // Hidden transformed elements. make the white space on the right disappeared
    
  }

.btn {
    font-weight: bold;
    font-size: 1.3em;
    color: v.$text-colour;;
    border-color: v.$text-colour;
    border-radius: 0;
    border-width: 0.1em;
}

h2 {
    margin: 0;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

h3 {
    font-weight: bold;
    margin: 0;
}

section {
    padding: 3em 2em 3em;

}

li {
    font-size: 1.3em;
    margin-bottom: 1em;
}

p {
    font-size: 1.3em;
}

.left-col, .right-col {
    padding: 15px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-4%);
    transition: all 0.5s;
}

.hidden-long {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-70%);
    transition: all 0.5s;
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+4%);
    transition: all 0.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: v.$animation-slowness;
}