@use "variables" as v;

.nav {
    background: transparent;
    padding: 1em;

    .nav-options {
        width: auto;
    }

    a {
        text-decoration: none;
        color: v.$text-colour;
    }
}

#hero {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    .name {
        font-weight: bold;
    }

    h1 {
        margin-bottom: 1em;
        line-height: 1.5em;
    }
}

#section-about {
    min-height: 100vh;
    width: 100vw;
    color: white;

    .skills-container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 3em;
    }

    .skills {
        display: block;
        margin: 4em auto 0;
    
        th {
            width: 133px;
            h3 {
                padding-bottom: 0.8em;
            }
            i {
                padding: 0 0.4em 0;
            }
            img {
                padding: 0 0.4em 0;
                width: 4em;
                height: auto;
            }
            p {
                padding: 0 0.4em 0;
            }
            .img-p {
                position: relative;
                top: 0.3em;
            }
        }
    }

    .left-col {
        img {
            width: 70%;
        }
    }

    .right-col {
        display: flex;
        align-items: center;

        .about-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition-delay: v.$animation-slowness+200ms;

            ul {
                margin-bottom: 3rem;

                li {
                    text-align: left;
                }
            }


        }
    }

    
}

#section-projects {
    min-height: 100vh;
    width: 100vw;

    .left-col {
        display: flex;
        align-items: center;

        .projects-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition-delay: v.$animation-slowness+200ms;

            h3 {
                margin-bottom: 0.5em;
            }
    
            ul {
                margin-bottom: 3rem;
        
                li {
                    text-align: left;
                }
            }
        }
    }

    .price-prediction-img {
        width: 90%;
    }
}

#section-work {
    min-height: 100vh;
    width: 100vw;

    iframe {
        display: block;
        border: 0;
    }
    p {
        text-align: left;
    }
    .skill-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-card {
        display: inline-block;
        width: auto;
        height: 161px;
        padding: 1em;
        margin: 1em;
        background-image: linear-gradient(
            135deg,
            #333 0%,
            #161616 100%
          );
        border-radius: 1em;

        i {
            width: 100px;
            display: block;
        }

        p {
            text-align: center;
        }
    }
    .skill-card:nth-child(2) {
        transition-delay: v.$animation-slowness+100ms;
    }
    .skill-card:nth-child(3) {
        transition-delay: v.$animation-slowness+200ms;
    }
}

#section-contact {
    padding-top: 6em;
    padding-bottom: 6em;
}

footer {
    padding-bottom: 1.5em;
    background-image: linear-gradient(
    135deg,
    #333 0%,
    #333 100%
  );

    .social-links {
        padding-top: 2em;

        a {
            color: inherit;
        }

        .social-link {
            padding: 0 0.5em 0;
        }
    }

    .back-to-top {
        display: block;
        padding-top: 2em;

        img {
            width: 1.3em;
        }
    }

    hr {
        margin: 1rem auto;
        border: 0;
        width: 50%;
        border-top: 2px solid grey;
    }

    .footer-text {
        font-size: 0.5em;
    }
}