$primary-colour: #101021;
$secondary-colour: #34349a;
// $primary-colour: #4b69ee;
// $secondary-colour: #98a8ee;

$text-colour: #ffffff;
$text-secondary-colour: #00ddff;

$animation-slowness: 100ms;
