
// Import font from google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: rgba(96,214,216,1);
}

// Genreal properties:
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1.2em;
    color: #425F60;
}

h3 {
    margin: 0;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.2em;
}

p {
    margin: 0;
}

.button {
    // font
    font-size: 1.2em;
    letter-spacing: 1.2px;
    color: white;

    // background
    background: #498688;
    padding: 0.2em 1.8em 0.2em;
    border-radius: 1em;

    // display
    margin: 2em 41.1% 2em;
    text-align: center;  
    display: block;
}

.go-back {
    // text
    font-size: 1.5em;
    color: black;
    width: fit-content;

    // white background
    background: white;
    padding: 0.2em 1.1em 0.7em;
    border-radius: 0.5em;
    
    //positioning
    position: relative;
    
}

// Each div properties:
.Nav {
    background: white;
    padding: 1em;

    .logo {
        margin-left: 1.2em;
        //Deleting the bottem line of the link
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

    }

    li {
        display: inline;
        margin: 1em;

        a {
            color: black;
        }
    }

    .container {
        display: flex;
        place-content: space-between;
    }
}

.hero {
    .n_8155 {
        display: block;
        width: 100%;
    }

    h1 {
        position: absolute;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 4em;
        width: 100%;
        text-align: center;
        top: 1.3em;
        color: black;
    }

    p {
        position: absolute;
        text-transform: uppercase;
        font-weight: Regular;
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        top: 8.7em;
    }
}

.Section-highlights {
    background: white;
    padding-bottom: 2em;

    h1 {
        text-align: center;
        width: 100%;
        padding-top: 2em;
    }

    h2 {
        text-align: center;
        width: 100%;
        padding-top: 0.6em;
    }

    ul {
        margin: 2.7em 2.4em auto;
        text-align: center;
        li {
            display: inline-block;
            h3 {
                text-align: center;
            }
            p {
                text-align: center;
            }
            img {
                width: 23.7em;
            }
        }   
    }
}

.Section-transportation {
    text-align: center;
    background: var(--primary-color);
    padding-top: 5em;
    padding-bottom: 5em;

    .col-left {
        padding: 3em;
        width: 50%;

        iframe {
            width: 32em;
            height: 21em;
        }

    }

    .col-right {
        width: 50%;
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
            padding: 0 0 3.2em;

            //positioning
            
        }
        

        .text {
            // Div align to right
            float: right;

            padding: 1.2em 2.2em 1.2em 1.2em;

            //Make the white background
            background: white;
            border-radius: 2em 0 0 2em;

            //positioning
            // position: relative;
            // left: 5em;

            p {
                text-align: left;
                margin: 0.5em;
                
            }
        }
        
    }

    .go-back {
        //text
        float: right;

        //white background
        background: white;
        
        //positioning
        right: 7.9em;
        bottom: -1.7em;
        
    }

    .container {
        display: flex;
        place-content: space-between;
    }
}

.Section-food {
    background: white;
    padding-top: 3em;

    .heading {
        
        width: 43%;

        //positioning. a percentage of the view width(vw)
        position: relative;
        left: 16.4vw;
        
    }

    .food {
        //positioning. a percentage of the view width(vw)
        position: relative;
        left: 16.4vw;
        padding-top: 3em;
        padding-bottom: 2em;
        width: 69%;

        li {
            display: inline-block;
            padding-top: 1.5em;
        }
        img {
            padding-right: 5.1em;

            //scale
            width: 32em;
        }
        iframe {
            //scale
            width: 15em;
            height: 15em;

            border-radius: 1.5em;
        }
    }

    .food-3 {
        p {
            text-align: center;
            padding-top: 2em;
            padding-bottom: 1.5em;
        }
        img {
            // center the image
            display: block;
            margin-left: auto;
            margin-right: auto;

            //scale
            width: 32em;

            // Put down a little bit
            padding-bottom: 5em;
        }
    }
    .go-back {
        //text
        float: left;

        //background
        background: #E3FEFF;
        
        //positioning
        position: relative;
        left: 7.9em;
        bottom: 1.6em;
        
    }
}

.Section-attractions {
    background: #E3FEFF;
    padding-top: 3em;
    padding-bottom: 5em;

    h1 {
        // "fit-content" --> set width of the text box be the text width
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        color: black;
        text-decoration: underline;

        //positioning
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

    }

    .photos {
        width: 68em;
        margin-left: auto;
        margin-right: auto;

        .heading {
            // narrow the text box and center inside text box
            width: fit-content;
            text-align: center;

            // Center
            margin-left: auto;
            margin-right: auto;

            //padding
            padding-top: 5.1em;
            padding-bottom: 1em;

            //font
            font-size: 1.2em;
            letter-spacing: 1.2px;
            font-style: normal;
	        font-weight: bold;
        }

        ul {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;

            li {
                display: inline-block;
            }

            img {
                width: 16em;
            }
        }

        .row-three {
            margin-bottom: 2em;
        }
    }

    .go-back {
        //text
        float: right;

        //white background
        background: #63D6D9;
        
        //positioning
        position: relative;
        right: 7.9em;
        bottom: -1.6em;
        
    }

    .button {
        // position
        margin: 2em 41.1% 2em;
    }
}

.Section-accommodations {
    padding: 10em;

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 3em;

        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        img {
            width: 100%;
        }

        .para2 {
            margin: 8em 0 0 0;
        }
    }

    .button {
        margin: 2em 38.1% 2em;
    }
}

.Section-about-city {
    background: white;
    padding-bottom: 5em;

    .go-back {

        //white background
        background: white;
        
        //positioning
        position: relative;
        margin-left: 43.3%;
        bottom: 1.7em;
        
    }

    h1 {
        text-align: center;
    }
    
    ul {
        // Evenly distibuted
        display: flex;
        place-content: start space-evenly;

        li {
            // margin: 0 12em 0;
            text-align: center;
            
            p {
                margin-top: 1.2em;
                margin-bottom: 2em;
                font-size: 1.7em;
            }
        }

        .button {
            margin: 0 0 0 0;
        }

    }
}