// Press ' Watch sass' to begin writing sass

// Import font from google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #007af3;
}


// body == selector
body {
    // background colour. A lot of ways to describe a colour.
    background: #f2f2f2;
    margin: 0%;
    font-family: 'Poppins';
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// padding (with multiple em): Top, Left and right, Bottom
section {
    padding: 5em 2em;
}

.navbar {
    background: rgb(255, 255, 255);
    // padding == Pull it back
    // 'em' -> A relative value.
    padding: 1em;
    

    .logo {
        //Deleting the bottem line of the link
        text-decoration: none;

        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    } 

    .container {
        // Seperate two elements to left and right
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        // Let it be a button
        cursor: pointer;
    }
}

.hero {
    // center align
    text-align: center;

    .left-col {

        .subhead {
            text-transform: uppercase;
            color: gray;
            letter-spacing: .3em;
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.3em;
            margin-top: .2em;
        }

        .primary-cta {
            background: var(--primary-color);
            color: white;
            text-decoration: none;
            padding: .6em 1.3em;
            font-size: 1.4em;
            // rounded shape
            border-radius: 5em;
            font-weight: bold;
            display: inline-block;
            // width: 10em;
        }

        .watch-video-cta {
            display: block;
            margin-top: 1em;

            img {
                margin-right: .5em;
            }
        }
    }

    .hero-img {
        width: 60%;
        // margin-top: 3em;
    }
}

.features-section {
    background: #20272E;
    color: white;

    .features-list {
        margin: 0;
        padding-left: .1em;
        
        li {
            font-size: 1.1em;
            margin-bottom: 1em;
            margin-left: 2em;
            // If you want to move this element (by e.g. up, left....), add 'position: relative;'
            position: relative;

            &:before {
                content: '';
                left: -2em;
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url('../assets/bullet.svg');
                background-size: contain;
                margin-right: .5em;
            }
        }
    }

    .features-img {
        display: none;
    }
}

.testimonials-section {
    background: var(--primary-color);

        li {
            background: #006BD6;
            width: 80%;
            text-align: center;
            margin: 0 auto 5em;
            border-radius: 1em;
            img {
                width: 5em;
                height: 5em;
            }
        }
}




