@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  text-align: center;
  scroll-behavior: smooth;
  background-image: linear-gradient(135deg, #101021 0%, #34349a 100%);
  color: #ffffff;
  overflow-x: hidden;
}

.btn {
  font-weight: bold;
  font-size: 1.3em;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  border-width: 0.1em;
}

h2 {
  margin: 0;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h3 {
  font-weight: bold;
  margin: 0;
}

section {
  padding: 3em 2em 3em;
}

li {
  font-size: 1.3em;
  margin-bottom: 1em;
}

p {
  font-size: 1.3em;
}

img {
  max-width: 100%;
}

.left-col, .right-col {
  padding: 15px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-4%);
  transition: all 0.5s;
}

.hidden-long {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-70%);
  transition: all 0.5s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(4%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition-delay: 100ms;
}

@media only screen and (max-width: 600px) {
  h1, h2, h3 {
    font-size: 1.5em;
  }
  li, p {
    font-size: 1em;
  }
}
.jumbotron {
  margin: 0;
  background-color: transparent;
}

.nav-item {
  padding: 0 0.3em 0;
}

.nav {
  background: transparent;
  padding: 1em;
}
.nav .nav-options {
  width: auto;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
}

#hero {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
#hero .name {
  font-weight: bold;
}
#hero h1 {
  margin-bottom: 1em;
  line-height: 1.5em;
}

#section-about {
  min-height: 100vh;
  width: 100vw;
  color: white;
}
#section-about .skills-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 3em;
}
#section-about .skills {
  display: block;
  margin: 4em auto 0;
}
#section-about .skills th {
  width: 133px;
}
#section-about .skills th h3 {
  padding-bottom: 0.8em;
}
#section-about .skills th i {
  padding: 0 0.4em 0;
}
#section-about .skills th img {
  padding: 0 0.4em 0;
  width: 4em;
  height: auto;
}
#section-about .skills th p {
  padding: 0 0.4em 0;
}
#section-about .skills th .img-p {
  position: relative;
  top: 0.3em;
}
#section-about .left-col img {
  width: 70%;
}
#section-about .right-col {
  display: flex;
  align-items: center;
}
#section-about .right-col .about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-delay: 300ms;
}
#section-about .right-col .about-wrapper ul {
  margin-bottom: 3rem;
}
#section-about .right-col .about-wrapper ul li {
  text-align: left;
}

#section-projects {
  min-height: 100vh;
  width: 100vw;
}
#section-projects .left-col {
  display: flex;
  align-items: center;
}
#section-projects .left-col .projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition-delay: 300ms;
}
#section-projects .left-col .projects-wrapper h3 {
  margin-bottom: 0.5em;
}
#section-projects .left-col .projects-wrapper ul {
  margin-bottom: 3rem;
  width: 100%;
}
#section-projects .left-col .projects-wrapper ul li {
  text-align: left;
}
#section-projects .price-prediction-img {
  width: 90%;
}

#section-work {
  width: 100vw;
}
#section-work iframe {
  display: block;
  border: 0;
}
#section-work p {
  text-align: left;
}
#section-work .skill-cards {
  display: flex;
  flex-wrap: wrap;
}
#section-work .skill-card {
  display: inline-block;
  width: auto;
  height: 161px;
  padding: 1em;
  margin: 1em;
  background-image: linear-gradient(135deg, #333 0%, #161616 100%);
  border-radius: 1em;
}
#section-work .skill-card i {
  width: 100px;
  display: block;
}
#section-work .skill-card p {
  text-align: center;
}
#section-work .skill-card:nth-child(2) {
  transition-delay: 200ms;
}
#section-work .skill-card:nth-child(3) {
  transition-delay: 300ms;
}

#section-contact {
  padding-top: 6em;
  padding-bottom: 6em;
}

footer {
  padding-bottom: 1.5em;
  background-image: linear-gradient(135deg, #333 0%, #333 100%);
}
footer .social-links {
  padding-top: 2em;
}
footer .social-links a {
  color: inherit;
}
footer .social-links .social-link {
  padding: 0 0.5em 0;
}
footer .back-to-top {
  display: block;
  padding-top: 2em;
}
footer .back-to-top img {
  width: 1.3em;
}
footer hr {
  margin: 1rem auto;
  border: 0;
  width: 50%;
  border-top: 2px solid grey;
}
footer .footer-text {
  font-size: 0.5em;
}/*# sourceMappingURL=styles.css.map */