.mediaViewInfo {
	--web-view-name: TaiwanTravel;
	--web-view-id: TaiwanTravel;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: TaiwanTravel;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#TaiwanTravel {
	position: absolute;
	width: 1920px;
	height: 11451px;
	background-color: rgba(99,214,217,1);
	overflow: hidden;
	--web-view-name: TaiwanTravel;
	--web-view-id: TaiwanTravel;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-deep-linking: true;
}
#Nav {
	position: relative;
	width: 1920px;
	height: 136px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 136px;
	left: 0px;
	top: 0px;
}
#TaiwanTravel_i {
	left: 66px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 254px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#About {
	left: 1770px;
	top: 54px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#Accomodations {
	left: 1486px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#attractions {
	left: 1279px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#Food {
	left: 1146px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#Transportation {
	left: 885px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#Home {
	left: 751px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#hero {
	position: absolute;
	width: 2466px;
	height: 2466px;
	left: -317px;
	top: 136px;
	overflow: visible;
}
#n_8155 {
	opacity: 0.81;
	position: absolute;
	width: 2466px;
	height: 2466px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Tainan_city {
	left: 910px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 736px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 115px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#Classic_elegant_tranquil {
	left: 1036px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 484px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#Section-highlights {
	position: absolute;
	width: 1920px;
	height: 975px;
	left: 0px;
	top: 1651px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 975px;
	left: 0px;
	top: 0px;
}
#Three_Highlights__ {
	left: 704px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 502px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	color: rgba(0,0,0,1);
}
#That_You_Cannot_Miss {
	left: 791px;
	top: 258px;
	position: absolute;
	overflow: visible;
	width: 324px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(66,95,96,1);
}
#Group_1 {
	position: absolute;
	width: 445px;
	height: 368px;
	left: 737.5px;
	top: 368px;
	overflow: visible;
}
#Fortress_Fort_Zeelandia {
	left: 107.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(96,214,216,1);
}
#IMG_0061 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 445px;
	height: 249.793px;
	left: 0px;
	top: 118.207px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 456px;
	height: 375px;
	left: 211px;
	top: 368px;
	overflow: visible;
}
#Delicious_Garden_Night_Market {
	left: 64px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 311px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(96,214,216,1);
}
#IMG_9112_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 456px;
	height: 256px;
	left: 0px;
	top: 119px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 445px;
	height: 366.793px;
	left: 1250.5px;
	top: 368px;
	overflow: visible;
}
#SunsetVIew_Garden_Night_Market {
	left: 67.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 311px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(96,214,216,1);
}
#IMG_0051 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 445px;
	height: 249.793px;
	left: 0px;
	top: 117px;
	overflow: visible;
}
#Section-transportation {
	position: absolute;
	width: 1781px;
	height: 562px;
	left: 211px;
	top: 2792px;
	overflow: visible;
}
#Transportation_ {
	left: 920px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 545px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(0,0,0,1);
}
#How_to_go_there_exactly__ {
	left: 926px;
	top: 96px;
	position: absolute;
	overflow: visible;
	width: 454px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(70,114,115,1);
}
#Image_1 {
	position: absolute;
	width: 648px;
	height: 485px;
	left: 0px;
	top: 77px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 755px;
	height: 289px;
	left: 1026px;
	top: 195px;
}
#n__Take_your_plane_to_Kaohsiun {
	left: 1081px;
	top: 248px;
	position: absolute;
	overflow: visible;
	width: 484px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n__Take_a_train_from_Kaoh_Siun {
	left: 1081px;
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 629px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Section-food {
	position: absolute;
	width: 1920px;
	height: 2297px;
	left: 0px;
	top: 3461px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 2213px;
	left: 0px;
	top: 84px;
}
#Group_15 {
	position: absolute;
	width: 303px;
	height: 127px;
	left: 1398px;
	top: 0px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(255,255,255,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 303px;
	height: 127px;
	left: 0px;
	top: 0px;
}
#Go_Back {
	left: 41px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Food_bi {
	left: 374px;
	top: 140px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(0,0,0,1);
}
#Group_4 {
	position: absolute;
	width: 1157px;
	height: 457.513px;
	left: 374px;
	top: 456px;
	overflow: visible;
}
#A_snack_from_the_street_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#Image_2 {
	position: absolute;
	width: 363px;
	height: 314px;
	left: 794px;
	top: 141px;
	overflow: visible;
}
#IMG_8916 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 685px;
	height: 384.513px;
	left: 0px;
	top: 73px;
	overflow: visible;
}
#I_swore_this_is_my_last_order {
	left: 374px;
	top: 239px;
	position: absolute;
	overflow: visible;
	width: 452px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(70,114,115,1);
	letter-spacing: 0.26px;
}
#Group_5 {
	position: absolute;
	width: 685px;
	height: 456.513px;
	left: 617.5px;
	top: 1669px;
	overflow: visible;
}
#A_heat-shaped_potato_chip {
	left: 185.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 315px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#IMG_9461 {
	position: absolute;
	width: 685px;
	height: 384.513px;
	left: 0px;
	top: 72px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 1157px;
	height: 460px;
	left: 377px;
	top: 1080px;
	overflow: visible;
}
#IMG_0107 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 685px;
	height: 385px;
	left: 0px;
	top: 75px;
	overflow: visible;
}
#Delicious_spaghetti_can_be_fou {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 658px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#Image_2_bu {
	position: absolute;
	width: 363px;
	height: 314px;
	left: 794px;
	top: 146px;
	overflow: visible;
}
#Section_-attractions {
	position: absolute;
	width: 1920px;
	height: 2694px;
	left: 0px;
	top: 5758px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(227,254,255,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 2694px;
	left: 0px;
	top: 0px;
}
#Attractions_bx {
	left: 756px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 409px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(0,0,0,1);
}
#Fort_Provintia {
	left: 834.383px;
	top: 413px;
	position: absolute;
	overflow: visible;
	width: 258px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Group_7 {
	position: absolute;
	width: 1075.767px;
	height: 839.92px;
	left: 422.117px;
	top: 495.331px;
	overflow: visible;
}
#IMG_0065 {
	position: absolute;
	width: 358.855px;
	height: 201.437px;
	left: 0px;
	top: 0.31px;
	overflow: visible;
}
#IMG_0066 {
	position: absolute;
	width: 358.057px;
	height: 200.989px;
	left: 358.855px;
	top: 0.31px;
	overflow: visible;
}
#IMG_0078 {
	position: absolute;
	width: 358.51px;
	height: 201.244px;
	left: 717.257px;
	top: 0px;
	overflow: visible;
}
#IMG_0080 {
	position: absolute;
	width: 358.51px;
	height: 638.676px;
	left: 0.236px;
	top: 201.244px;
	overflow: visible;
}
#IMG_0097 {
	position: absolute;
	width: 358.51px;
	height: 638.676px;
	left: 717.257px;
	top: 201.244px;
	overflow: visible;
}
#IMG_0088 {
	position: absolute;
	width: 358.51px;
	height: 638.676px;
	left: 358.746px;
	top: 201.244px;
	overflow: visible;
}
#n_00_years_legacy {
	left: 793px;
	top: 220px;
	position: absolute;
	overflow: visible;
	width: 333px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
	text-decoration: underline;
}
#Group_8 {
	position: absolute;
	width: 326px;
	height: 66px;
	left: 797px;
	top: 1400px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(73,134,136,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Learn_more {
	left: 63px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.2px;
}
#Fishermans_Wharf {
	left: 783px;
	top: 1705px;
	position: absolute;
	overflow: visible;
	width: 355px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Group_16 {
	position: absolute;
	width: 1076.55px;
	height: 604.304px;
	left: 421.725px;
	top: 1787.331px;
	overflow: visible;
}
#IMG_0001 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 0.392px;
	top: 0px;
	overflow: visible;
}
#IMG_0014 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 358.85px;
	top: 0px;
	overflow: visible;
}
#IMG_0013 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 717.7px;
	top: 0px;
	overflow: visible;
}
#IMG_0022 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 0px;
	top: 201.435px;
	overflow: visible;
}
#IMG_0010 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 358.85px;
	top: 200.669px;
	overflow: visible;
}
#IMG_0011 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 717.7px;
	top: 201.435px;
	overflow: visible;
}
#IMG_0012 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 2.425px;
	top: 402.869px;
	overflow: visible;
}
#IMG_0019 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 358.85px;
	top: 402.869px;
	overflow: visible;
}
#IMG_0063 {
	position: absolute;
	width: 358.85px;
	height: 201.435px;
	left: 717.7px;
	top: 402.869px;
	overflow: visible;
}
#Group_17 {
	position: absolute;
	width: 326px;
	height: 66px;
	left: 797px;
	top: 2456px;
	overflow: visible;
}
#Rectangle_8_cm {
	fill: rgba(73,134,136,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8_cm {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Learn_more_cn {
	left: 63px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.2px;
}
#Section_-accommodations {
	position: absolute;
	width: 1492px;
	height: 1399px;
	left: 214px;
	top: 8667px;
	overflow: visible;
}
#Accommodations {
	left: 823px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 594px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	color: rgba(0,0,0,1);
}
#I_recommend_Airbub_to_find_you {
	left: 823px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 450px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#Here_is_my_room_in_a_Moose_Des {
	left: 823px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 592px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#IMG_0110 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 746px;
	height: 419px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IMG_0109 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 746px;
	height: 418.755px;
	left: 746px;
	top: 419px;
	overflow: visible;
}
#IMG_0112 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 746px;
	height: 418.755px;
	left: 0px;
	top: 837.755px;
	overflow: visible;
}
#Group_18 {
	position: absolute;
	width: 402px;
	height: 81px;
	left: 586px;
	top: 1318px;
	overflow: visible;
}
#Rectangle_8_cw {
	fill: rgba(185,245,247,1);
	stroke: rgba(82,177,180,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8_cw {
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 81px;
	left: 0px;
	top: 0px;
}
#Go_To_Airbub {
	left: 66px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 272px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Section-about-city {
	position: absolute;
	width: 1920px;
	height: 1179px;
	left: 0px;
	top: 10210px;
	overflow: visible;
}
#Rectangle_15 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1179px;
	left: 0px;
	top: 0px;
}
#About_city {
	position: absolute;
	width: 1362px;
	height: 728px;
	left: 306px;
	top: 132px;
	overflow: visible;
}
#About_City {
	left: 505px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 382px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(0,0,0,1);
}
#XMLID_1124_ {
	position: absolute;
	width: 229.994px;
	height: 229.995px;
	left: 580.003px;
	top: 243px;
	overflow: visible;
}
#XMLID_1125_ {
	fill: rgba(29,84,189,1);
}
.XMLID_1125_ {
	overflow: visible;
	position: absolute;
	width: 228.81px;
	height: 228.868px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#XMLID_1126_ {
	fill: rgba(7,30,97,1);
}
.XMLID_1126_ {
	overflow: visible;
	position: absolute;
	width: 180.402px;
	height: 180.402px;
	left: 49.592px;
	top: 49.593px;
	transform: matrix(1,0,0,1,0,0);
}
#XMLID_1127_ {
	fill: rgba(123,227,255,1);
}
.XMLID_1127_ {
	overflow: visible;
	position: absolute;
	width: 92.5px;
	height: 181.249px;
	left: 22.5px;
	top: 26.251px;
	transform: matrix(1,0,0,1,0,0);
}
#XMLID_1128_ {
	fill: rgba(72,217,255,1);
}
.XMLID_1128_ {
	overflow: visible;
	position: absolute;
	width: 88.242px;
	height: 181.25px;
	left: 115px;
	top: 26.25px;
	transform: matrix(1,0,0,1,0,0);
}
#XMLID_1129_ {
	fill: rgba(255,255,255,1);
}
.XMLID_1129_ {
	overflow: visible;
	position: absolute;
	width: 52.325px;
	height: 26.429px;
	left: 88.838px;
	top: 22.5px;
	transform: matrix(1,0,0,1,0,0);
}
#XMLID_1130_ {
	fill: rgba(72,126,210,1);
}
.XMLID_1130_ {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 12.5px;
	left: 125px;
	top: 70.361px;
}
#XMLID_1131_ {
	fill: rgba(115,167,230,1);
}
.XMLID_1131_ {
	overflow: visible;
	position: absolute;
	width: 66.848px;
	height: 158.091px;
	left: 33.152px;
	top: 45.091px;
	transform: matrix(1,0,0,1,0,0);
}
#XMLID_1132_ {
	fill: rgba(72,126,210,1);
}
.XMLID_1132_ {
	overflow: visible;
	position: absolute;
	width: 92.5px;
	height: 161.306px;
	left: 115px;
	top: 43.454px;
	transform: matrix(1,0,0,1,0,0);
}
#South_of_Taiwan {
	left: 527px;
	top: 522px;
	position: absolute;
	overflow: visible;
	width: 339px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Group_19 {
	position: absolute;
	width: 326px;
	height: 66px;
	left: 528px;
	top: 662px;
	overflow: visible;
}
#Rectangle_8_dd {
	fill: rgba(73,134,136,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8_dd {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Learn_more_de {
	left: 63px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.2px;
}
#rain-weather-svgrepo-com {
	position: absolute;
	width: 235.55px;
	height: 229.995px;
	left: 45.45px;
	top: 243px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(45,82,124,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 90.051px;
	height: 92.532px;
	left: 125.309px;
	top: 23.013px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(206,232,250,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 222.09px;
	height: 154.121px;
	left: 6.73px;
	top: 6.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_20 {
	position: absolute;
	width: 235.55px;
	height: 229.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_3 {
	fill: rgba(45,82,124,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 235.55px;
	height: 167.58px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
	fill: rgba(45,82,124,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 47.423px;
	height: 47.357px;
	left: 32.444px;
	top: 182.638px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
	fill: rgba(45,82,124,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 47.423px;
	height: 47.357px;
	left: 94.064px;
	top: 182.638px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
	fill: rgba(45,82,124,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 47.422px;
	height: 47.357px;
	left: 155.685px;
	top: 182.638px;
	transform: matrix(1,0,0,1,0,0);
}
#Weather {
	left: 76px;
	top: 522px;
	position: absolute;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Group_21 {
	position: absolute;
	width: 326px;
	height: 66px;
	left: 0px;
	top: 662px;
	overflow: visible;
}
#Rectangle_8_dp {
	fill: rgba(73,134,136,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8_dp {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Learn_more_dq {
	left: 63px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.2px;
}
#population-visualize-data-peop {
	fill: rgba(0,0,0,1);
}
.population-visualize-data-peop {
	overflow: visible;
	position: absolute;
	width: 178.623px;
	height: 229.995px;
	left: 1109px;
	top: 243px;
	transform: matrix(1,0,0,1,0,0);
}
#Population {
	left: 1086px;
	top: 522px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Group_22 {
	position: absolute;
	width: 326px;
	height: 66px;
	left: 1036px;
	top: 662px;
	overflow: visible;
}
#Rectangle_8_du {
	fill: rgba(73,134,136,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8_du {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Learn_more_dv {
	left: 63px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.2px;
}
#Group_23 {
	position: absolute;
	width: 303px;
	height: 127px;
	left: 238px;
	top: 5670px;
	overflow: visible;
}
#Rectangle_6_dx {
	fill: rgba(227,254,255,1);
}
.Rectangle_6_dx {
	position: absolute;
	overflow: visible;
	width: 303px;
	height: 127px;
	left: 0px;
	top: 0px;
}
#Go_Back_dy {
	left: 41px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Group_24 {
	position: absolute;
	width: 303px;
	height: 127px;
	left: 1418px;
	top: 8367px;
	overflow: visible;
}
#Rectangle_6_d {
	fill: rgba(99,214,217,1);
}
.Rectangle_6_d {
	position: absolute;
	overflow: visible;
	width: 303px;
	height: 127px;
	left: 0px;
	top: 0px;
}
#Go_Back_d {
	left: 41px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Group_25 {
	position: absolute;
	width: 303px;
	height: 127px;
	left: 850px;
	top: 10129px;
	overflow: visible;
}
#Rectangle_6_ea {
	fill: rgba(255,255,255,1);
}
.Rectangle_6_ea {
	position: absolute;
	overflow: visible;
	width: 303px;
	height: 127px;
	left: 0px;
	top: 0px;
}
#Go_Back_ea {
	left: 41px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.2px;
}
#Anthony_CHAN__2021_all_rights_ {
	left: 771px;
	top: 11407px;
	position: absolute;
	overflow: visible;
	width: 463px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}